<div class="jumbotron jumbotron-fluid">
      <div class="container">
      </div>
</div>

<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<p class= "about text-center">
			shere&care petsは、<br>
			ペットについて共有できたり、
			お世話の記録を取って家族などとできるサイトです。<br>

			みんなでシェアして
			より良いペットライフを送りましょう！
		</p>
	</div>
</div>