
<div class="slide">
        <div class="theTarget">
            <div style="background-image:url(<%= assets_path "cat.jpg" %>)"></div>
            <div style="background-image:url(<%= assets_path "dog2.jpg" %>)"></div>
            <div style="background-image:url(<%= assets_path "inko.jpeg" %>)"></div>
            <div style="background-image:url(<%= assets_path "hamu.jpeg" %>)"></div>
        </div>
</div>
<br>
