
<div class="slide">
        <div class="theTarget">
            <div style="background-image: image-url('cat.jpg)"></div>
            <div style="background-image: image-url('dog2.jpg')"></div>
            <div style="background-image: image-url('inko.jpeg')"></div>
            <div style="background-image: image-url('hamu.jpeg')"></div>
        </div>
</div>
<br>
