
<div class="slide">
        <div class="theTarget">
            <div style="background-image: url(/assets/cat.jpg)"></div>
            <div style="background-image: url(/assets/dog2.jpg)"></div>
            <div style="background-image: url(/assets/inko.jpeg)"></div>
            <div style="background-image: url(/assets/hamu.jpeg)"></div>
        </div>
</div>
<br>
