<% users.each do |user| %>
  <p>お世話パートナー</p>
  <%= link_to user_path(user.permitter.id) do %>
  <%= attachment_image_tag user.permitter , :icon, size: "120x120", fallback: "no_image.jpg" %><br>
  <%= user.permitter.name %>
  <% end %>
<% end %>